.dash {
  text-align: center;
  margin: 15px;
  border: 1px solid;
  border-style: double;
  padding: 10px;
  background-image: linear-gradient(to right, #8a888a 0%, #e1eef6 100%);
  border-radius: 5px;
  width: 50%;
}

.center {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

h2 {
  padding-top: 20px;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .dash {
    width: 80%;
  }
}
