<app-nav></app-nav>
<div class="container">
  <h1>Login Here !</h1>
  <div class="form">
    <input
      #email
      type="email"
      name="email"
      placeholder="Email"
      class="form"
      required
    />
    <input
      #password
      type="password"
      name="password"
      placeholder="Password"
      class="form"
      required
      min="6"
    />
    <button class="btn btn-primary" (click)="login()">Login !</button>
    <div class="alert" *ngIf="errorString">
      {{ errorString }}
    </div>
    <h5>Don't have an account yet?</h5>
    <h5>Click <a [routerLink]="['/signup']">here</a> to sign up!</h5>
  </div>
</div>
