<app-nav2></app-nav2>
<h2>Edit a Member</h2>
<div class="edit" *ngIf="friID">
  <h6>Name :</h6>
  <input #name type="text" placeholder="{{ friID.name }}" />
  <h6>Age :</h6>
  <input #age type="number" placeholder="{{ friID.age }}" />
  <h6>Hobbies :</h6>
  <input #hobbies type="text" placeholder="{{ friID.hobbies }}" />
  <h6>Favourite Food :</h6>
  <input #favFood type="text" placeholder="{{ friID.favFood }}" />
</div>
<div class="button">
  <button type="button" class="btn btnE" (click)="editFriend()">
    Save Changes
  </button>
  <button type="button" class="btn btnC" (click)="cancel()">Cancel</button>
</div>
<div class="status" *ngIf="statusString">
  <h3>{{ this.statusString }}</h3>
</div>
