h2 {
  text-align: center;
  color: rgb(119, 67, 214);
}
.btn {
  font-size: 20px;
  text-align: center;
  margin: 10px;
  padding: 10px;
}
.button {
  text-align: center;
}

.fri {
  text-align: center;
  font-size: 20px;
}

h6,
input {
  padding: 10px;
}

h4 {
  text-align: center;
}

h4:hover {
  color: blue;
}

input:focus {
  box-shadow: 0 0 0 0.4rem rgb(144, 213, 219);
}

.btnS {
  background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
}
.btnC {
  background-image: linear-gradient(to top, #f83200 0%, #ee5b2e 100%);
}
