<app-nav></app-nav>

<div class="heading">
  <br />
  <br />
  <h1>Welcome to The <i> Family/Friends</i> Record App!</h1>
  <h1>|| V2.0</h1>
</div>
<br />
<div class="purpose">
  <h3>
    The purpose of this Web App is <br />to add/ remove people to their friends/
    family list.
  </h3>
</div>
<div class="features">
  <h4>Here's what <b>YOU</b> can do with this app!</h4>
</div>

<section class="colored-section" id="testimonials">
  <div id="testimonial-carousel" class="carousel slide" data-ride="false">
    <div class="carousel-inner">
      <div class="carousel-item active container-fluid">
        <h2 class="testimonial-text">
          You can add then view, edit or delete your Friends and Family members!
        </h2>
        <img class="testimonial-image" src="./show1.PNG" />
        <em>We know that you hope you could do this IRL...</em>
      </div>
      <div class="carousel-item container-fluid">
        <h2 class="testimonial-text">
          After adding them, you can view their Basic details.
        </h2>
        <img class="testimonial-image" src="./show 2.PNG" />
        <em>Basic details because We know they are BASIC!</em>
      </div>
    </div>
    <a
      class="carousel-control-prev"
      href="#testimonial-carousel"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a
      class="carousel-control-next"
      href="#testimonial-carousel"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</section>
