.heading,
.purpose,
.features {
  font-family: "Montserrat";
  font-size: 1.5rem;
  text-align: center;
}
.heading {
  margin: 100px;
  background-color: rgb(0, 132, 255);
  color: blue;
  height: 200px;
  padding: 100px;
  border-radius: 5%;
}
.heading:hover {
  background-color: rgb(103, 103, 219);
}
.purpose,
.features {
  margin-top: 350px;
}

.purpose {
  text-align: center;
  border-style: dotted;
}
h4 {
  text-align: center;
  font-size: 30px;
  margin-top: 210px;
}
