.fri {
  text-align: center;
  margin: 15px;
  border: 1px solid;
  border-style: double;
  padding: 10px;
  background-image: linear-gradient(to right, #fbf6f0 0%, #9ea9b1 100%);
  border-radius: 5px;
  width: 65%;
}

.center {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

h2 {
  text-align: center;
}

.btn {
  font-size: 20px;
  padding: 10px;
  margin: 10px;
}
.empty {
  text-align: center;
  font-size: 30px;
}

.btnView {
  background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
}

.btnEdit {
  background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
}
.btnDelete {
  background-image: linear-gradient(-60deg, #ee1515 0%, #ee1d38 100%);
}
