.container {
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  padding: 15px;
  padding-top: 50px;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  border-radius: 5%;
}
input,
button {
  font-size: 25px;
  padding: 5px;
  margin: 15px;
}
.form {
  text-align: center;
  display: block;
  padding: 10px;
}
.form:focus {
  border-color: #ffc107;
  box-shadow: 0 0 0 0.4rem rgba(116, 49, 192, 0.25);
}

input {
  text-align: center;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  width: 85%;
}
h1 {
  /* move h1 above */
  text-align: center;
  font-size: 50px;
  color: #3c3ead;
}

.input-boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}
