.container {
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  padding: 15px;
  padding-top: 50px;
  background-image: linear-gradient(
    to top,
    #dad4ec 0%,
    #dad4ec 1%,
    #f3e7e9 100%
  );
}
input,
button {
  font-size: 25px;
  padding: 5px;
  margin: 15px;
}
.form {
  text-align: center;
  display: block;
  padding: 10px;
}
.form:focus {
  box-shadow: 0 0 0 0.4rem rgba(116, 49, 192, 0.25);
}

input {
  text-align: center;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  width: 85%;
}
h1 {
  text-align: center;
  font-size: 40px;
  color: #af50fdc5;
}

.input-boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}
.input-boxes input[type="text"],
.input-boxes input[type="email"],
.input-boxes input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #da27d1;
  padding: 10px 10px;
  width: 70%;
  outline: none;
  color: rgb(0, 0, 0);
  border-radius: 24px;
  transition: 0.25s;
}
.input-boxes input[type="text"]:focus,
.input-boxes input[type="email"]:focus,
.input-boxes input[type="password"]:focus {
  width: 80%;
  border-color: #4e3abd;
}

.btn {
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}
.btn:hover {
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

@media only screen and (min-width: 500px) {
  .inputbox .input-boxes:focus {
    width: 100%;
  }
}
