<div class="container">
  <h1>Sign Up Here !</h1>
  <form>
    <input
      type="text"
      name="name"
      placeholder="Name"
      class="form-control"
      required
    />
    <input
      type="email"
      name="email"
      placeholder="Email"
      class="form-control"
      required
    />
    <input
      type="password"
      name="password"
      placeholder="Password"
      class="form-control"
      required
    />
    <button class="btn btn-primary">Sign Up</button>
  </form>
</div>
