<!-- <nav class="navbar">
  <ul>
    <li class="nav-item">
      <a class="nav-link navbar-brand" [routerLink]="['/']">F/F!</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="">Contact Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/login']">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/signup']">Register</a>
    </li>
  </ul>
</nav> -->
<div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <div class="overlay-content">
    <a class="nav-link navbar-brand" [routerLink]="['/']">F/F!</a>
    <a class="nav-link navbar-brand" [routerLink]="['/']">Contact Us</a>
    <a class="nav-link" [routerLink]="['/login']">Login</a>
    <a class="nav-link" [routerLink]="['/signup']">Register</a>
  </div>
</div>

<span class="navv" (click)="openNav()">&#9776; F/F!</span>
