/* nav {
  font-size: 25px;
  font-family: "Montserrat";
  text-align: right;
}
a {
  text-decoration: none;
  padding: 25px;
  color: rgb(41, 41, 238);
}
a:hover {
  color: rgb(224, 224, 205);
}
ul {
  list-style: none;
  display: inline-flex;
} */

/*   color variables */
$clr-primary: #0e48fe;
$clr-primary-hover: #29e6a7;
$clr-primary-dark: #039d69;
$clr-gray100: #f9fbff;
$clr-gray150: #f4f6fb;
$clr-gray200: #eef1f6;
$clr-gray300: #e1e5ee;
$clr-gray400: #767b91;
$clr-gray500: #4f546c;
$clr-gray600: #2a324b;
$clr-gray700: #161d34;

/*   border radius */
$radius: 0.2rem;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: $clr-gray600;
  height: 100vh;
}

.nav {
  border-bottom: 1px solid $clr-gray200;

  &__toggle {
    position: absolute;
    cursor: pointer;
    margin: 0rem 1rem;
    right: 0;

    svg {
      width: 1.5rem;
      fill: $clr-gray600;
    }

    .close {
      display: none;
    }

    .menu {
      margin-top: 0.2rem;
    }
  }

  &__checkbox {
    display: none;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin: 1rem;

    li {
      list-style: none;
      display: none;

      &:first-child {
        margin-right: auto;
        display: block;
      }
    }

    a {
      text-decoration: none;
      color: inherit;
      font-size: 1.2rem;
    }
    a:hover {
      background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    }

    svg {
      width: 1.5rem;
      fill: $clr-gray600;
    }
  }
}

// Toggle the hamburger menu in mobile view
#nav__checkbox:checked ~ ul.nav__menu li {
  display: block;
}

//Change from menu to close icon on tap
#nav__checkbox:checked ~ label.nav__toggle .close {
  display: block;
}

#nav__checkbox:checked ~ label.nav__toggle .menu {
  display: none;
}

// Desktop view
@media only screen and (min-width: 560px) {
  .nav {
    &__toggle {
      display: none;
    }

    &__menu {
      flex-direction: row;

      li {
        display: block;
      }
    }
  }
}
